:root{
  /* --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem; */
}

* {
  margin:0;
  padding: 0;
}

body {
  font-family: 'Raleway';
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* Introduction elements */
.introbg {
  position: absolute;
  width: auto;
  height: auto;
}

.intro1 {
  position: absolute;
  display: flex;
  top: 8px;
}

.intro2 {
  position: absolute;
  display: flex;
  top: 60px;
}

/* Social elements */
.socialLinks {
  display: flex;
  justify-content: center;
  bottom: 0px;
}

.fbLogo {
  max-width: 25px;
  max-height: 25px;
}

.liLogo {
  max-width: 25.5px;
  max-height: 25.5px;
}

.ghLogo {
  max-width: 25px;
  max-height: 25px;
}

/* .condiv class is for the right side content container*/
.condiv {
  background-color: #f4f5f9d0;
}

/* Navbar properties */
.profilepic{
  border-radius: 50%;
  height: 200px;
  width: 135px;
}

.profilename {
  font-family: 'Josefin Slab', serif;
  padding-top: 10px;
  color: rgb(122, 108, 108);
}

nav {
  padding:85px 60px 0px 60px ;
  background: rgb(238, 232, 232);
}

nav ul {
  font-size: 5;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

nav ul li {
  font-family: 'Josefin Slab', serif;
  margin: 25px 0;
}

Link {
  text-decoration: none;
}

nav ul li:hover{
  font-weight: bolder;
}

.active {
  font-weight: bolder;
}